/*最初のナビエリア*/
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 37, 65);
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .nav-list{
    display: flex;
    font-size: 15px;
    gap: 15px;
    list-style: none;
    padding: 0;
  }
  
  .Serch-Box{
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .Serch-Box-design{
    background-color: rgb(50, 64, 95);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0;
  }
  
  .feature-card{
    display: flex;
    justify-content: center;
  }

  .feature-right{
    background-color: rgb(44, 39, 53);
    height: 550px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .game-title{
    text-align: center;
  }

  .sub-image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 8px;
    width: calc(300px + 10px);
  }
  
  .main-image{
    width: auto;
    height: 550px;
    object-fit: cover;
  }

  .sub-image{
    width: 150px;
    height: auto;
  }

  .game-genre{
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .review-rating{
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .price-display{
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .discount-rate{
    background-color: rgb(95, 95, 95);
    color: rgba(251, 255, 0, 0.877);
  }

  .original-price{
    color: rgb(100, 100, 100);
  }

  .sale-price{
    color: rgba(251, 255, 0, 0.877);
  }