/*最初のナビエリア*/
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 37, 65);
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .nav-list{
    display: flex;
    font-size: 15px;
    gap: 15px;
    list-style: none;
    padding: 0;
  }
  
  .Serch-Box{
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .Serch-Box-design{
    background-color: rgb(50, 64, 95);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0;
  }
  
  .feature-card{
    display: flex;
    justify-content: center;
  }

  .feature-right{
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .sub-image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
    width: calc(300px + 10px);
  }
  
  .main-image{
    width: 600px;
    height: auto;
  }

  .sub-image{
    width: 120px;
    height: auto;
  }