/*FeatureSectionエリア*/
  .feature-card{
    display: flex;
    justify-content: center;
  }

  .feature-right{
    background-color: rgb(36, 33, 41);
    height: 550px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .game-title{
    text-align: center;
  }

  .sub-image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 8px;
    width: calc(300px + 10px);
  }
  
  .main-image{
    width: auto;
    height: 550px;
    object-fit: cover;
  }

  .sub-image{
    width: 150px;
    height: auto;
  }

  .game-genre{
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .review-rating{
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .price-display{
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .discount-rate{
    background-color: rgb(95, 95, 95);
    color: rgba(251, 255, 0, 0.877);
  }

  .original-price{
    color: rgb(100, 100, 100);
  }

  .sale-price{
    color: rgba(251, 255, 0, 0.877);
  }

  /*WelcomeViewエリア*/

  .Welcome-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .Welcome-text{
    font-size:25px;
    font-family: 'BIZ+UDGothic',sans-serif;
    font-weight: bold;
    line-height: 1.8;
    max-width: 800px;
  }

  .start-btn{
    font-family: 'BIZ+UDGothic',sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 4px solid transparent;
    background:/*クリッピングして形を切り抜くこともできるみたい。初めて知ったためメモ*/
      linear-gradient(#ffffff, #ffffff), 
      linear-gradient(to right, #ff007f, #7f00ff, #00bfff, #00ffcc); 
  
    background-origin: border-box;
    background-clip: padding-box, border-box;
    /*↑多分ここまでの処理が切り抜き？*/

    margin: 30px;
    padding: 12px 28px;
    border-radius: 24px;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .start-btn:hover{
    transform: scale(1.15);
  }

  /*QuestionViewエリア*/
  .Question-Section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 72px);
  }

  .Question-text{
    text-align: center;
    font-family: 'BIZ+UDGothic',sans-serif;
    font-weight: bold;
    margin: 150px 0;
  }

  .Question-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
  }

  .Question-btn{
    font-family: 'BIZ+UDGothic',sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 4px solid transparent;
    background:
      linear-gradient(#ffffff, #ffffff), 
      linear-gradient(to right, #ff007f, #7f00ff, #00bfff, #00ffcc); 
  
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 12px 28px;
    border-radius: 24px;
    cursor: pointer;
    transition: ease 0.3s;
    width: max-content;
    min-width: 160px;
  }

  .Back-btn{
    font-family: 'BIZ+UDGothic',sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 4px solid transparent;
    background:
      linear-gradient(#ffffff, #ffffff), 
      linear-gradient(to right, #ff007f, #7f00ff, #00bfff, #00ffcc); 
  
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-top: 50px;
    padding: 12px 28px;
    border-radius: 24px;
    cursor: pointer;
    transition: ease 0.3s;
    width: max-content;
    min-width: 160px;
  }

  .Question-btn:hover{
    transform: scale(1.12);
  }

  .Back-btn:hover{
    transform: scale(1.12);
  }

  /*GenreSelectionエリア*/
  .GenreCard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .Cassette-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'BIZ+UDGothic',sans-serif;
    font-weight: bold;
    border: 4px solid transparent;
    background:
      linear-gradient(#ffffff, #ffffff), 
      linear-gradient(to right, #ff007f, #7f00ff, #00bfff, #00ffcc); 
  
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
    width: 185px;
    height: 190px;
    transition: all 1.2s ease;
    border-radius: 15px;
    position: relative;
    z-index: 1;
  }

  .Cassette-name{
    font-family: 'DotGothic16',sans-serif;
    font-size: 12px;
  }

  .Cassette-icon{
    font-size: 40px;
  }

  .Cassette-desc{
    text-align: center;
    width: 100%; 
    padding: 0px 18px; 
    word-break: break-all;
    font-size: 12px;
    color: rgb(59, 58, 58);
    opacity: 0;
    transition: opacity 0.8s ease;
  }

  .Cassette-card::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(to right, #ff007f, #7f00ff, #00bfff, #00ffcc);
    border-radius: 18px;
    filter:blur(12px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .Cassette-card.active{
    transform: scale(1.05);
  }

  .Cassette-card.active::before{
    opacity: 0.5;
  }

 .Cassette-card:hover .Cassette-desc{
  opacity: 1;
 }

/*ResultSection*/
.Result-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
}

.Result-card{
  background-color: #b4b4b4;
  border-radius: 15px;
  max-width: 480px;
  padding: 8px;
}

.Result-image{
  width: 400px;
  border-radius: 15px;
}

/*progress-barエリア*/
.progress-bar-container{
  width: 100%;
  height: 18px;
  background-color: #e7e7e7;
  border: solid rgb(65, 65, 65);
  border-radius: 15px;
  overflow: hidden;
  margin: 30px auto 0 auto;
}

.progress-bar-fill{
  height: 100%;
  background-color: #afa6eb;
  transition: width 0.3s ease-in-out;
}

